extends ../../../main

//- block head
//-   link(href="assets/css/minimum.css" rel="stylesheet")

block variables
  - var pageTitle = 'Элементарная страница для верстки';
  - var description = 'Front page';
  - var pageClass = 'fist_class';

block content
  section
    .container Привет всем
